@media (min-width: 1024px) {
    .small\:py-12 {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .small\:grid-cols-\[240px_1fr\] {
        grid-template-columns: 240px 1fr;
    }
}

.content_account {
    padding-top: 48px;
    padding-bottom: 48px;
}

.content_account,
.small\:py-12 {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.content_container_account {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.total {
    display: grid;
    grid-template-columns: 240px 1fr;
    padding-top: 48px;
    padding-bottom: 48px;
}

.total_div {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 32px;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 384px;
}

.overview h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 24px;
    color: #000000;
    font-family: var(--font--content--);
}

.overview p {
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color--hover--);
    margin-bottom: 32px;
    font-family: var(--font--content--);
}

.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
}

.character {
    color: #f43f5e;
    font-size: 14px;
    font-family: var(--font--header--);
}

.email {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    z-index: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: var(--font--header--);
}

.email input {
    display: block;
    padding-top: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    height: 44px;
    margin-top: 0;
    width: 100%;
    border: 1px solid #212121;
    border-radius: 6px;
    transition: background-color 5000s ease-in-out 0s;
    appearance: none;
}

.email input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0px 0px 0px 1px #3b82f6, 0px 0px 0px 4px rgba(59, 130, 246, .2);
}

.email label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 4px;
    padding-right: 4px;
    top: 12px;
    color: #4b5563;
    font-size: 14px;
    font-family: var(--font--header--);
    font-weight: 400;
    line-height: 24px;
    transition: transform 0.3s ease, font-size 0.3s ease, top 0.3s ease;
    pointer-events: none;
}

.email input:focus+label,
.email input:not(:placeholder-shown)+label {
    font-size: 10px;
    top: 10px;
    font-weight: 400;
    line-height: 16px;
    --tw-translate-y: -8px;
    transform: translate(0, -8px) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.character {
    color: rgb(244 63 94 /1);
}

.import_password {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.password {
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: var(--font--header--)
}

.password input {
    display: block;
    padding-top: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    height: 44px;
    margin-top: 0;
    width: 100%;
    border: 1px solid #212121;
    border-radius: 6px;
    transition: background-color 5000s ease-in-out 0s;
    appearance: none;
}

.password input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0px 0px 0px 1px #3b82f6, 0px 0px 0px 4px rgba(59, 130, 246, .2);
}

.password label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 4px;
    padding-right: 4px;
    top: 12px;
    color: #4b5563;
    font-size: 14px;
    font-family: var(--font--header--);
    font-weight: 400;
    line-height: 24px;
    transition: transform 0.3s ease, font-size 0.3s ease, top 0.3s ease;
    pointer-events: none;
}

.password input:focus+label,
.password input:not(:placeholder-shown)+label {
    font-size: 10px;
    top: 10px;
    font-weight: 400;
    line-height: 16px;
    --tw-translate-y: -8px;
    transform: translate(0, -8px) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.password button {
    position: absolute;
    color: var(--color--header--);
    right: 0;
    top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    animation-duration: .15s;
    background-color: transparent;
    background-image: none;
    border: 0 solid #ffffff;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.icon-link-to-acc {
    display: block;
    width: 100%;
    height: 100%;
    fill: none;
}

.password button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: #030712;
}

.sign_in {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--color--hover--);
    column-gap: 6px;
    margin-top: 24px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 0 #0000, 0px 0.75px 0px 0px hsla(0, 0%, 100%, .2) inset, 0px 1px 2px 0px rgba(3, 7, 18, .4), 0px 0px 0px 1px rgba(3, 7, 18, .8);
    color: #fff;
    transition-property: color, background-color, border-color, box-shadow, opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: var(--font--header--);
    width: 100%;
    cursor: pointer;
}

.sign_in:active {
    background-color: #1f2937;
}

.sign_in:focus {
    box-shadow: 0 0 #000, 0 0 #000, 0px 0.75px 0px 0px hsla(0, 0%, 100%, .2) inset, 0px 1px 2px 0px rgba(3, 7, 18, .4), 0px 0px 0px 1px rgba(3, 7, 18, .8), 0px 0px 0px 2px #fff, 0px 0px 0px 4px rgba(59, 130, 246, .6) !important;
}

.sign_in:hover {
    background-color: #111827;
}

.register {
    align-items: center;
    color: var(--color--hover--);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
    font-family: var(--font--content--);
}

.underline {
    text-decoration-line: underline;
    cursor: pointer;
    background-color: #fff;
    color: var(--color--hover--);
    border: 0 solid #fff;
    font-size: 12px;
    font-family: var(--font--content--);
}

.register_total {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.total_register {
    display: grid;
    padding-top: 48px;
    padding-bottom: 48px;
}

.wrap_register {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 32px;
}

.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 384px;
}

.register_form h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: #000000;
    font-family: var(--font--content--);
}

.text_register {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color--hover--);
    margin-bottom: 16px;
    font-family: var(--font--content--);
}

.main_register {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.clause {
    text-align: center;
    color: var(--color--hover--);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
    font-family: var(--font--content--);
}

.underline {
    text-decoration-line: underline;
}

.bottom_register {
    text-align: center;
    color: var(--color--hover--);
    font-family: var(--font--content--);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    border-top: 1px solid rgb(229 231 235);
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 32px;
}

.title_bottom {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
    color: #000000;
    font-family: var(--font--content--);
}

.span_bottom {
    font-weight: 400;
    font-family: var(--font--header--);
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.service {
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.icon-link-to {
    transform: rotate(-40deg);
    transition: all 0.3s ease-in-out;
}

.service:hover .icon-link-to {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 20;
    height: 20;
    fill: none;
    animation-duration: .15s
}

.service p {
    font-weight: 400;
    color: #3b82f6;
    font-family: var(--font--content--);
    font-size: 14px;
    line-height: 24px;
}