.content_container {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px
}

.content_container li {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.name_category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.name_category p {
    font-weight: 400;
    font-family: var(--font--content--);
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.name_category a {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-weight: 400;
    font-family: var(--font--content--);
    font-size: 14px;
    line-height: 24px;
    color: #3b82f6;
}

.icon-link-to {
    transform: rotate(-40deg);
    transition: all 0.3s ease-in-out;
}

.name_category a:hover .icon-link-to {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 20;
    height: 20;
    fill: none;
    animation-duration: .15s
}

.detail_products {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 144px;
}

.image_product {
    position: relative;
    overflow: hidden;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(3, 7, 18, .08), 0px 1px 2px -1px rgba(3, 7, 18, .08), 0px 2px 4px 0px rgba(3, 7, 18, .04), 0 0 #0000;
    height: 550px;
    width: 100%;
}

.image_product:hover {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.image_product img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    max-width: 576px;
    color: transparent;
    object-fit: cover;
    object-position: center;
}

.information_product {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}

.information_product p {
    font-weight: 400;
    font-family: var(--font--content--);
    color: #4b5563;
}

.price_product {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.price_product span {
    font-weight: 400;
    font-family: var(--font--content--);
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
    color: #9ca3af;
}

.price_product p {
    font-weight: 400;
    font-family: var(--font--content--);
    color: var(--color--hover--);
    font-size: 14px;
    line-height: 24px;
}