.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.cover_navbar {
  position: relative;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.2s;
  animation-duration: 0.2s;
  background-color: rgba(255, 255, 255);
  border-bottom: 1px solid rgb(229 231 235);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  color: #4b5563;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.menu {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  height: 100%;
}

.menu button {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border: 0 solid #ffffff;
  margin: 0;
  padding: 0;
  color: #4b5563;
  font-family: var(--font--header--);
  font-size: 100%;
}

.menu button:hover {
  color: var(--color--hover--)
}

.menu_bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-right: 0;
  width: 25%;

}

.main_title {
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font--header--);
  font-size: 18px;
  color: inherit;
  text-decoration: inherit;
}

.cover_title a:hover {
  color: var(--color--hover--)
}

.right_view {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 24px;
  height: 100%;
  flex: 1 1 0%;
}

.function {
  display: flex;
  align-items: center;
  column-gap: 24px;
  height: 100%;
}

.right_view .function .search {
  color: inherit;
  font-size: 100%;
  font-family: var(--font--header--);
}

.right_view .function .search:hover {
  color: var(--color--hover--);
}

.right_view .function .acc {
  color: inherit;
  font-size: 100%;
  font-family: var(--font--header--);
}

.right_view .function .acc:hover {
  color: var(--color--hover--);
}

.right_view .hidden_cart {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 50;
}

.right_view .hidden_cart a {
  color: inherit;
  font-size: 100%;
  font-family: var(--font--header--);
}

.right_view .hidden_cart a:hover {
  color: var(--color--hover--);
}

.toggleMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  min-width: min-content;
  height: calc(100vh - 16px);
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  top: 8px;
  left: 8px;
}

.hidden {
  display: none;
}

.contain_menu {
  width: 100vw;
  height: 100vh;
}

.overlay {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 25%;
  background-color: rgba(3, 7, 18, 0.5);
  border-radius: 8px;
  padding: 24px;
  backdrop-filter: blur(40px);
  opacity: 1;
}

.boder_menu {
  display: flex;
  justify-content: flex-end;
}

.close_menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.menu_list {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  justify-content: flex-start; */
  gap: 24px;
}

.menu_list a {
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  font-family: var(--font--header--);
}

.menu_list a:hover {
  color: #d1d5db;
}

.bottom_menu {
  display: flex;
  flex-direction: column;
  /* row-gap: 24px; */
}

.bottom_menu p {
  display: flex;
  /* justify-content: space-between; */
  font-weight: 400;
  font-family: var(--font--content--);
  font-size: 13px;
  line-height: 20px;
}

.cart {
  display: block;
  position: absolute;
  top: 63px;
  right: 254px;
  background-color: #f9fafb;
  border: 1px solid rgb(229 231 235);
  width: 420px;
  color: var(--color--hover--);
  transform: translateY(0px);
  z-index: 9999;
  opacity: 1;
}

.obscure {
  display: none;
}

.overlay_cart {
  width: 420px;
  height: 500px;
}

.over_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.over_cart h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  font-family: var(--font--content--);
}

.main_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  row-gap: 16px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255 255 255/1);
  background-color: rgb(17 24 39/1);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
}

.hidden_instruction {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
}

.btn_cart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition-property: color, background-color, border-color, box-shadow, opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  width: fit-content;
  border-radius: 6px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
  box-shadow: (0 0 #0000, 0 0 #0000, 0px 0.75px 0px 0px hsla(0, 0%, 100%, .2) inset, 0px 1px 2px 0px rgba(3, 7, 18, .4), 0px 0px 0px 1px rgba(3, 7, 18, .8));
  color: #fff;
  background-color: var(--color--hover--);
  line-height: 20px;
  font-family: var(--font--header--);
  font-size: 13px;
  font-weight: 500;
  column-gap: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.btn_cart:hover {
  background-color: #111827;

}

.btn_cart:active {
  background-color: #1f2937;
}

.btn_cart:focus {
  box-shadow: (0 0 #0000, 0 0 #0000, 0px 0.75px 0px 0px hsla(0, 0%, 100%, .2) inset, 0px 1px 2px 0px rgba(3, 7, 18, .4), 0px 0px 0px 1px rgba(3, 7, 18, .8), 0px 0px 0px 2px #fff, 0px 0px 0px 4px rgba(59, 130, 246, .6));
}

.hidden_search {
  position: relative;
  z-index: 999;
}

.off {
  display: none;
}

.over_search {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(12px);
  opacity: 1;
}

.cover_all_search {
  position: fixed;
  inset: 0;
  padding: 0;
}

.top_search {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  height: fit-content;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  padding: 20px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  max-height: 75vh;
  background-color: transparent;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}

.main_search {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
}

.content_search {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 8px;
  padding: 16px;
  background-color: rgba(3, 7, 18, .5);
  color: #fff;
  backdrop-filter: blur(40px);
  border-radius: 8px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form input {
  flex: 1 1 0%;
  line-height: 20px;
  font-family: var(--font--header--);
  height: 20px;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
}

.form input::placeholder {
  color: #fff;
  /* background-color: #03071280; */
}

.form input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}