@media (min-width: 1024px) {
    .small\:items-start {
        align-items: flex-start;
    }
    .small\:flex-row {
        flex-direction: row;
    }
    .small\:flex-col {
        flex-direction: column;
    }
    .small\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .small\:min-w-\[250px\] {
        min-width: 250px;
    }
    .small\:ml-\[1\.675rem\] {
        margin-left: 40.2px;
    }
}

.content_products {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
    padding-left: 36px;
    padding-right: 36px;
}

.left_products {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 72px;
    margin-bottom: 48px;
}

.over_products {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    column-gap: 18px;
}

.over_products p {
    font-weight: 400;
    font-family: var(--font--content--);
    line-height: 1.25rem;
    font-size: .8125rem;
    color: #9ca3af;
}